<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Pizza</title>
</head>
<body>
    <form id="pizza-form" th:object="${pizzeria}" th:action="@{/create}" method="post">
        <label for="nome">Nome</label>
        <input type="text" id="nome" th:field="*{nome}">
        
        <label for="descrizione">Descrizione</label>
        <input type="text" id="descrizione" th:field="*{descrizione}">
        
        <label for="prezzo">Prezzo</label>
        <input type="text" id="prezzo" th:field="*{prezzo}">
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>